/* Warning blocks */
div.warning {
    background-image: url("images/Warning32.png");
    background-repeat: no-repeat;
    text-align: left;
    padding: 0px 10px 0px 38px;
    background-color: lightyellow;
    min-height: 40px;
}
